.categories{
    display: flex;
    height: 100vh;
    gap: 10px;
    margin: 20px;
    .col{
        flex: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .col-l{
        flex: 2;
    }
    
    .row{
        flex: 1;
        display: flex;
        gap: 10px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        button{
            position: absolute;
            min-width: 100px;
            width: fit-content;
            height: 50px;
            padding: 10px;
            border-radius: 7px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: rgba(0, 0, 0, 0.877);
            cursor: pointer;
            border: none;
            background-color: rgba(255, 255, 255, 0.5);
            -webkit-backdrop-filter:saturate(180%) blur(90px);
            backdrop-filter: saturate(180%) blur(5px);
            text-transform: uppercase;
            font-weight: 500;
            -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.04);
            box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.1);
            
            &:hover{
                background-color: rgba(255, 255, 255, 0.3);
            }
        }


        
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}