.footer{
    margin: 7vw 10vw 1vw 10vw;
    .top{
        display: flex;
        gap:2vw;
    }
    .item2{
        flex:2.5;
        display: flex;
        flex-direction: column;  
        gap:10px ;
        text-align: justify;
        font-size: 15px;
        color: rgb(125, 125, 125);
        h1{
            font-size: 18px;
            color: rgb(68, 68, 68);
        }
        .name{
            font-weight: 600;
            color: rgb(68, 68, 68);
        }
    }
    .item{
        flex:1;
        display: flex;
        flex-direction: column;  
        gap:10px ;
        text-align: justify;
        font-size: 15px;
        color: rgb(125, 125, 125);
        h1{
            font-size: 18px;
            color: rgb(68, 68, 68);
        }
        
    }
    .bottom{
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        .main-logo{
            height: 60px;
            object-fit: cover;
        }
        .left{
            color: rgb(125, 125, 125);
        }
        .right{
            color: rgb(125, 125, 125);
            .btm-rt{
                font-weight: 600;
                font-size: 20px;
                color: rgb(68,68,68);
            }
            
        }
    }
}

@media screen and (max-width: 1100px) {
    .footer{
        .top{
            display:flex;
            flex-direction: column;
            gap: 6vh;
        }
    }
}

@media screen and (max-width: 1100px) {
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }
}