.navbar{
    height: 70px;
    background-image: url("../Images/nav-back.png");
    background-position: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(246,242,197,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(246,242,197,0.75);
    box-shadow: 10px 10px 5px 0px rgba(246,242,197,0.75);
    .wrapper{
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
    }
    .item{
        display: flex;
        align-items: center;
        font-size: 18px;
    }
    .left{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .center{
        .main-logo{
            height: 50px;
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap:25px;
        .icons{
            display: flex;
            gap: 15px;
            color: #777;
            cursor: pointer;

            .cartIcon{
                position: relative;
                .cartSpan{
                    font-size: 12px;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: #ffe293e0;
                    color: #000000;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
