.cart{
    position: absolute;
    right: 0px;
    top: 60px;
    width: 30%;
    background-color: rgb(248, 248, 248,0.5);
    padding: 20px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
    border-radius: 10px;
    -webkit-backdrop-filter:saturate(180%) blur(90px);
    backdrop-filter: saturate(180%) blur(120px);
    .shop{
        margin-bottom: 30px;
        color: rgb(44, 44, 44);
        font-weight: 600;
        font-size: 20px;
    }

    h2 {
        margin-bottom: 10px;
        color: rgb(42, 42, 42);
        font-weight: 400;
        font-size: 16px;
      }

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
        img{
            width: 100px;
            height: 150px;
            object-fit: cover;
            border-radius: 7px;
            -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
            -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
            box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
        }

        .details {
            h1 {
                font-size: 18px;
                font-weight: 500;
            }

            p {
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .price {
                color: black;
            }
        }

        .delete {
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    
    button {
        width: 200px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        background-color: #fec014d0;
        border-radius: 10px;
        font-weight: 500;
        margin-bottom: 20px;
        -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
        -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.4);
    }
    
    .reset{
        color:red;
        font-size: 12px;
        cursor: pointer;
    }
}

@media screen and (max-width: 854px) {
    .cart{
        top: 51px;
        width: 50%;
        .shop{
            margin-bottom: 30px;
            font-size: 20px;
        }
        .item{
            img{
                width: 60px;
                height: 80px;
            }
            #small{
                display: none;
            }
            .details{
                h1{
                    font-size: 16px;
                }
                .price{
                    font-size: 14px;
                }
            }
            .delete {
                font-size: 24px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .total{
            font-size: 16px;
            font-weight: 600;
            margin-right: 20px;
        }
        
    }
}


