.ftproducts{
    margin: 14vh 10vw 10vh 10vw;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10vh;
        h1{
            flex:2;
            text-transform: capitalize;
        }
        p{
            flex:3;
            color: rgb(125, 125, 125);
        }
    }
    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 854px) {
    .ftproducts{
        margin:0;
        .top{
            margin: 5vh 10vw 5vh 10vw;
            flex-direction: column;
            margin-bottom: 7vh;
            h1{
                font-size: 20px;
            }
        }
        .bottom{
            margin: 0vh 5vw 0vh 5vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 7vh;
        }
    }
}