.slider{
    height: calc(100vh);
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    .container{
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;

        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
    }

    .icons{
        position: absolute;
        width: fit-content;
        left: 0px;
        display: flex;
        right: 0px;
        margin: auto;
        bottom: 50px;
        gap: 10px;
        .icon{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 40px;
            -webkit-backdrop-filter:saturate(180%) blur(90px);
            backdrop-filter: saturate(180%) blur(2px);
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

@media screen and (max-width: 854px) {
    .slider{
        height: 40vh;
        .icons{
            .icon{
                width: 25px;
                height: 25px;
            }
        }
    }
    
}