.navbar{
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999999;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url("../Images/nav-back.png");
        background-size: cover;
        background-position: center;
        height: 100%;
        -webkit-backdrop-filter:saturate(180%) blur(90px);
        backdrop-filter: saturate(180%) blur(20px);
        z-index: -999;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2px;
    }
    .left{
        display: flex;
        display: flex;
        align-items: center;
        gap: 25px;
        margin-right: auto;
        padding-left: 20px;
    }
    .item{
        display: flex;
        align-items: center;
    }
    #menu-icon{
        display: none;
    }
    .center{
        .main-logo{
            height: 45px;
            margin-top: 5px;
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap:25px;
        margin-left: auto;
        padding-right: 20px;
        .icons{
            display: flex;
            gap: 15px;
            color: #777;
            cursor: pointer;
            .cartIcon{
                position: relative;
                .cartSpan{
                    font-size: 12px;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: #ffc72ee0;
                    color: #000000;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

}


@media screen and (max-width: 854px) {
    .navbar{
        height: 50px;
        background-image: url("../Images/nav-back-phone.png");
        width: 100vw;
        .wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            #menu-icon{
                display: block;
                color: #777;
                cursor: pointer;
                margin-left: 10px;
            }
            .right{
                margin-left: 0;
            }
            .center{
                .main-logo{
                    height: 36px;
                    object-fit: cover;
                }
            }
            #small{
                display: none;
            }
        }
        
    }
    
    
}